@import "shared/themes/palette.module";

.root {
  width: 40em;
  padding: 5em;
  margin: 10% auto;
  position: relative;

  .title {
    text-align: center !important;
    font-weight: bold !important;
  }

  .link {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    color: $grey;
    text-decoration: none;

    &:hover {
      color: #373a3c;
    }
  }

  .error {
    display: flex;
    justify-content: center;
    height: 2em;
    padding-bottom: 2em;
  }
}
