@import "shared/themes/palette.module";

.header {
  justify-content: space-between;

  a {
    color: $success;
    text-decoration: none;

    &:hover {
      color: $success
    }

    &:active {
      color: $success;
    }
  }
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--mantine-color-teal-9);
  &:hover {
    text-decoration: none;
  }
}

.linkItem {

  &:hover {
    background-color: $secondary
  }

  .link {
    text-decoration: none;
    color: #333
  }
}

.notifications {
  z-index: 1000;

  ul {
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;

    .subItem {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        width: 100px;
      }
    }
  }

  .item:last-child {
    background-color: $secondary;
  }

  .btn:hover {
    background-color: $secondary;
  }
}





